<main class="content">
  <div class="container-fluid p-0">
    <div class="row mt-2">
      <div class="col-sm-6 col-xl-3" (click)="navigateTo('/authentication/resetpassword')">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Reset Password</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                </div>
              </div>
            </div>
            <h3 class="mt-1 mb-3">Reset Password</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3" (click)="navigateTo('/authentication/emailconfirmation')">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Confirm Email</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag align-middle"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h34a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                </div>
              </div>
            </div>
            <h3 class="mt-1 mb-3">Confirm Email</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3" (click)="navigateTo('/authentication/forgotpassword')">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Change Password</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity align-middle"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                </div>
              </div>
            </div>
            <h3 class="mt-1 mb-3">Change Password</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3" (click)="navigateTo('/authentication/twostepverification')">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Two Step Verification</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-middle"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                </div>
              </div>
            </div>
            <h3 class="mt-1 mb-3">Two Step Verification</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>