<main class="content">
  <div class="container-fluid p-0">
    <h1>My Booking</h1>

    <div class="row mt-5">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5 class="card-title mb-0">History</h5>
          </div>
          <div class="card-body">
            <table class="table table-striped" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Booked From</th>
                  <th>Booked To</th>
                  <th>Room Number</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let _room of roomList;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{_room.startDate}}</td>
                  <td>{{_room.endDate}}</td>
                  <td>{{_room.roomName}}</td>
                  <td>{{_room.type}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>