<section class="nicebootstrap-cover overflow-hidden relative" style="background-image: url('assets/img/bg_1.jpg');"
  data-stellar-background-ratio="0.5" id="section-home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <h2 class="heading mb-2 display-4 font-light fadeInUp ">Explore The World With Ease</h2>
      </div>
      <div class="col-md  fadeInUp ">
        <form action="#" class="nicebootstrap-form">
          <div class="form-group">
            <div class="row mb-3">
              <div style="width: 0px;margin: 0px;padding: 0px;">
                <input name="datepicker" class="form-control form-group hidden" ngbDatepicker #datepicker="ngbDatepicker"
                  (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                  outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
              <div class="col-md">
                <div class="form-group">
                  <div class="input-group">
                    <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                      [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button"><i
                          class="fas fa-calendar-alt"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="form-group">
                  <div class="input-group">
                    <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                      [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button"><i
                          class="fas fa-calendar-alt"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-md">
                <div class="form-group">
                  <select class="form-select" id="roomType" aria-label="Room Type">
                    <option selected value="Single">Single</option>
                    <option value="Double">Double</option>
                </select>
                </div>
              </div>
              <div class="col-md">
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>