#home {
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  .header-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    .logo {
      font-size: x-large;
      font-weight: 700;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }
    .sign-in {
      font-weight: 500;
      display: flex;
      justify-content: space-evenly;
      div{
        padding: 10px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}

.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}
.bg-image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: #000;
}
h1,
h2 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}
.mat-form-field {
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }
}


