<h2 mat-dialog-title> {{title}}</h2>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="flex-start stretch" fxLayoutGap="20px">
        <mat-form-field>
            <mat-label>Room Number</mat-label>
            <input matInput required [(ngModel)]="room.name" placeholder="F-101">
            <mat-error *ngIf="room.name==null">Enter Room Number</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Room Type</mat-label>
            <mat-select [(ngModel)]="room.type">
                <mat-option>Clear</mat-option>
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Double">Double</mat-option>
            </mat-select>
            <mat-error *ngIf="room.type==null">You must make a selection</mat-error>
        </mat-form-field>
    </div>


</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="createRoom()" *ngIf="!isEditMode">Create New
        Room</button>
    <button mat-raised-button color="primary" (click)="updateRoom()" *ngIf="isEditMode">Update Room</button>
</mat-dialog-actions>