<main class="content">
  <div class="container-fluid p-0">
    <h1>User List</h1>
    <div class="row mt-5">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5 class="card-title mb-0">User List</h5>
          </div>
          <div class="card-body">
            <table class="table table-striped" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Email</th>
                  <th>Is Email Confirmed</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let _user of userList;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{_user.email}}</td>
                  <td>{{_user.emailConfirmed}}</td>
                  <td>
                    <button class="btn btn-primary" (click)="makeuseradmin(_user.id)" type="button">Make Admin</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>