table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

td,
th {
  width: 25%;
}
.not-booked{
  padding: 10px;
  margin: 5px;
  background-color: rgb(133, 252, 152);
}
.booked{
  padding: 10px;
  margin: 5px;
  background-color: rgb(137, 218, 255);
}