<mat-card>
    <mat-card-content>
        <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
            <h2>Forgot Password</h2>
            <mat-error *ngIf="showError">
                {{errorMessage}}
            </mat-error>
            <mat-success *ngIf="showSuccess">
                {{successMessage}}
            </mat-success>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" type="email" formControlName="email" required>
                <mat-error>
                    <span *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid
                        email</span>
                    <span *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</span>
                </mat-error>
            </mat-form-field>
            <div style="display: flex; justify-content: center;align-items: center;">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!forgotPasswordForm.valid">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>